*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.toDo-app {
    width: 100%;
    max-width: 540px;
    background: #f5ebeb;
    margin: 125px auto 20px;
    padding: 40px 30px 60px 30px;
    border-radius: 12px;
}

.title {
    display: flex;
    justify-content: space-around;
    margin: 0px auto 30px auto;
}
    .title img {
        width: 52px;
        height: 52px;
    }
.inp-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#dfdbdb;
    border-radius: 30px;
    padding-left: 25px;
    margin-bottom: 35px;
}
#inpTask {
    flex: 1;
    background:transparent;
    padding: 14px;
    border: none;
    outline: none;
    font-weight: 14px;
}

.button {
    border:none;
    outline: none;
    padding: 16px 50px;
    background:#ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.check {
    color: #555;
    text-decoration: line-through;
}

.check::before {
    background-image: url('images/checked.png');
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-style: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #dfe0e2;
}