* { box-sizing: border-box; }

.container {
    width: 768px;
    margin: 0 auto;
}
/* input {
    font-size: 30px;
    display: block;
    border: none;
} */


.max_resault, .last_resault, .point_now {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
}

    .max_resault {
        color: red;
        margin-top: 50px;
    }
    .last_resault {
        color:blue;
    }

.field {
    width: 500px;
    height: 500px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(252, 251, 248);
    border-radius: 6px;
    box-shadow: 3px -2px 5px 1px rgba(143,137,143,.37);
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
    background-color:#82c35f;
    border-radius: 8px;
} 

.snakeHead {
    background:url('img/snake.png');
    background-size: cover;
    background-position: center;
}

.mouse {
    background:url('img/mouse.png');
    background-size: cover;
}

